@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic);


body {
        background-image: linear-gradient(to left, #FFFFFF, #FFB2B2);
    display: flex;
    font-family: Noto, Arial;
}


.wrapper {
    width: auto;
    min-width: 1000px;
    height: auto;
    min-height: 600px;

}

.title {
    display: flex;
}

.title h1 {
    align-content: center;
    justify-content: center;
}

.flex-container {
    display: block;
}

.flex-container .bild {
    display: block;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 10px 20px #525252;
}
p {
    display: flex;
    align-content: center;
    justify-content: center;
}

