@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic);

body {
    background-image: linear-gradient(#FFB2B2, #FFFFFF);
    font-family: 'Noto Serif', serif;
}

.wrapper {
    width: auto;
    height: auto;
}


.flex-title {
    display: flex;
    justify-content: center;
}

.flex-picture {
    display: flex;
    justify-content: center;
}

img {
    box-shadow: 5px 10px 20px #525252;
    width: auto;
    height: 550px;
}

.flex-text {
    margin-left: 7em;
    margin-right: 4em;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
}
.pdf-link {
    display:flex;
    justify-content: center;
    margin-bottom: 3em;

}

h1 {
    font-size: 50px;
}

a {
    text-decoration: none;
    color:;
}